.pricing-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing-section__header {
  font-size: 3em;
  text-align: center;
  width: 80%;
}

.pricing-section__description {
  text-align: center;
  width: 70%;
}

.pricing-section__card {
  margin: 2rem 1rem;
}

.pricing-section__card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.pricing-section__card--most-popular {
  order: -1;    
}

@media only screen and (min-width: 600px) {
  .pricing-section__card--most-popular {
    order: 0;
  }

.pricing-section__card-container {
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
}

.pricing-section__card {
    flex-grow: 1;
    flex-basis: 0;
}
}
