.button {
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: inherit;
    font-family: inherit;
    
    border-radius: 0.5rem;
    padding: 0.5em 1em;
}

.button--primary {
    background-color: #6A994B;
    color: white;
}

.button--secondary {
    background-color: white;
    color:black;
}

.button__icon {
    height: 1.2em;
    margin-left: 0.5em;
}
